@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p {
  line-height: 1.5;
}

body {
  @apply bg-white text-black dark:bg-[#1e293b] dark:text-white;
}

a:hover {
  color: cornflowerblue;
}

textarea {
  resize: none;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  font-weight: bold;
  font-size: x-large;
}

h3 {
  font-weight: bold;
  font-size: large;
}

ul > li {
  list-style: disc;
}

ol > li {
  list-style: decimal;
}
